@font-face {
  font-family: 'CodeProBlack';
  src: url('files/code-pro-black/Code\ Pro\ Black.otf');
}

@font-face {
  font-family: 'Montserat';
  src: url('files/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf');
}

.body{
  background-color: black;
  height: 100%;
  width: 100%;

  display: flex;

  font-family: 'Montserat';
}

nav{
  width: 300px;

  color: white;
}

main{
  background-color: white;
  width: 85vw;

  border-top-left-radius: 50px;
}

.inside-main{
  margin: 40px;
}

h1{
  font-size: 25px;
}

h2{
  font-size: 16px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 7px 0;
}


h3{
  font-size: 14px;
  text-transform: uppercase;
}

.title{
  margin: 25px 20px;
  font-size: 25px;
  font-weight: bold;
}

.subtitle{
  display: block;
  font-size: 15px;
}

.nav-sub{
  margin-left: 20px;
}

.nav-sub-title{
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-sub-list{
  list-style: none;
  margin-left: -15px;
}

.nav-sub-list li{
  margin-top: 10px;
}

.nav-sub-list li:hover{
  font-weight: bold;
}

.search-container{
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.search-in{
  width: 100%;
  height: 36px;
  border-radius: 0;
  border: 1px solid black;

  padding-left: 15px;
  font-weight: bold;
}

.search-in:focus{
  outline: none;
}

.search-glass{
  height: 40px;
  width: 60px;
  background-color: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
}

hr{
  border-top: 1px solid black;
}

.default-info-container{
  margin-top: 30px;
}

.table-economics{
  margin-top: 80px;
}

.table-default-info{
  margin-top: 20px;
  text-align: left;
}

.table-default-info tr{
  display: block;
  margin-top: 6px;
}

.table-default-info .multirow{
  margin-top: -4px;
}

.table-default-info th{
  width: 400px;
}

.table-score tr:nth-of-type(1){
  margin-top: -20px;
}

.table-default-info td{
  color: #777
}

.table-score span{
  margin: 15px;
  margin-right: 15px;
  padding-left: 5px;
  display: block;
  border-bottom: 1px solid black;
}

.table-score th:first-of-type, .table-score td:first-of-type{
  text-align: left;
}

.table-score th{
  width: 150px;
}

.table-score th, .table-score td{
  text-align: center;
  border-right: 1px solid black;
}

.table-score .a-purple{
  color: rgb(187, 144, 189);
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.big-letter{
  font-family: 'CodeProBlack';
  font-size: 75px;
  padding-left: 30px;
  margin-top: -10px;
}

.duurzaam-container{
  display: flex;
}

.duurzaam-container .duurzaam-text{
  width: 500px;
}

.duurzaam-letter{
  margin-right: 50px;
}