.body{
  background-color: black;
  height: 100vh;
  width: 100vw;

  display: flex;
}

nav{
  width: 15vw;

  color: white;
}

main{
  background-color: white;
  width: 85vw;

  border-top-left-radius: 50px;
}