@font-face {
  font-family: 'Montserat-Regular';
  src: url("files/montserat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Montserat-Bold';
  src: url("files/montserat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: 'Montserat-Black';
  src: url("files/montserat/Montserrat-Black.ttf");
}

/* Nodig voor de background body color*/
html,
#root,
body {
  height: 100vh;
  display: flex;
  height: auto;
  min-height: 100%;
  min-width: 100%;
}

.body {
  font-family: 'Montserat-Regular';
  background-color: black;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  color: #bb90bd;
  text-decoration: none;
  font-weight: bold;
}

.pointer{
  cursor: pointer;
}

.nav .a{
  color: white;
  font-weight: normal;
}

.nav .a:hover{
  font-weight: bold;
}

.nav {
  width: 300px;
  min-width: 160px;
  color: white;
}

.nav-collapsed {
  color: white;
}

main {
  z-index: 0;
  background-color: white;
  width: 85vw;
  border-top-left-radius: 50px;

  flex: 1;
}

.inside-main {
  margin: 40px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dashboard-info-container {
  flex: 1 1 auto;
}

h1 {
  font-size: 20px;
  font-family: 'Montserat-Bold';
}

h2 {
  font-size: 16px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 7px 0;
}

h3 {
  font-size: 12px;
  text-transform: uppercase;
}

th {
  font-family: 'Montserat-Bold';
}

.title {
  margin: 25px 20px;
  font-size: 20px;
  font-family: 'Montserat-Bold';
}

.subtitle {
  display: block;
  font-size: 12px;
}

.nav-sub {
  margin-left: 20px;
}

.nav-sub-title {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-sub-list {
  list-style: none;
  margin-left: -15px;
}

.nav-sub-list li {
  margin-top: 10px;
}

.nav-sub-list li:hover {
  font-weight: bold;
  cursor: pointer;
}

.nav-hidden {
  display: none;
}

.nav-icon {
  float: right;
  font-size: 30px;
  margin-top: 5px;
  cursor: pointer;
}

.nav-icon-collapsed {
  font-size: 30px;
  margin-top: 30px;
  padding: 0 15px;
  cursor: pointer;
}

/*-------Header-------*/
header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.top-icons{
  max-width: 120px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.flag img{
  margin-top: 8px;
  max-width: 30px;
}

.nav-icons{
  font-size: 30px;
  margin-top: 10px;
}

.nav-icons a {
  color: black;
}

.cirkel-profile{
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: #bb90bd solid 2px;
  height: 35px;
  width: 35px;
  min-width: 35px;

  display: flex;

  justify-content: center;
  align-items: center;
}

.cirkel-profile img {
  width: 100%;
  height: auto;
}


.search-container {
  margin-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.search-in {
  width: 100%;
  height: 36px;
  border-radius: 0;
  border: 1px solid black;
  padding-left: 15px;
  font-weight: bold;
}

.search-in:focus {
  outline: none;
}

.search-glass {
  height: 40px;
  width: 60px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
}

.search-glass:hover {
  cursor: pointer;
  background-color: #444;
  transition: .3s;
}

hr {
  border-top: 1px solid black;
}

.default-info-container {
  margin-top: 30px;
}

.table-economics {
  margin-top: 80px;
}

.table-default-info {
  margin-top: 20px;
  text-align: left;
}

.table-default-info tr {
  display: block;
  margin-top: 6px;
  font-size: 14px;
}

.table-default-info .multirow {
  margin-top: -4px;
}

.table-default-info th {
  width: 400px;
}

.table-score tr:nth-of-type(1) {
  margin-top: -20px;
}

.table-score span {
  margin: 15px;
  margin-right: 15px;
  padding-left: 5px;
  display: block;
  border-bottom: 1px solid black;
}

.table-score th:first-of-type,
.table-score td:first-of-type {
  text-align: left;
}

.table-score th {
  width: 150px;
}

.table-score th,
.table-score td {
  text-align: center;
  border-right: 1px solid black;
}

.table-score .a-purple {
  color: #bb90bd;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.big-letters{
  display: flex;
  align-items: center;
  margin: 0;
}

.big-letter {
  font-family: 'Montserat-Black';
  font-size: 75px;
  padding-left: 30px;
  margin: 0;
}

.big-letter.smaller{
  font-family: 'Montserat-Black';
  font-size: 50px;
  padding-left: 30px;
  margin: 0;
}

.duurzaam-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.duurzaam-container .duurzaam-text {
  width: 500px;
  margin-left: 50px;
}

.coding-tree-container {
  border: 1px solid black;
  border-radius: 10px;

  margin-left: 50px;
  margin-top: 30px;

  height: 100%;
  width: 600px;
}

.pure-text{
  max-width: 800px;
}

.title-404{
  font-size: 60px;
  font-family: 'Montserat-Black';
}

.text-404{
  font-size: 200px;
  font-family: 'Montserat-Black';

  text-shadow: 10px 10px 2px #bb90bd;
}

.container-404{
  margin: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  text-align: center;
}

.btn{
  max-width: max-content;
  background-color: black;
  border: none;
  padding: 12px 12px;
  margin-bottom: 10px;
  border-radius: 3px;

  font-weight: bold;
  color:white;
}


.btn:hover{
  background-color: rgb(41, 41, 41);
}
/*# sourceMappingURL=App.css.map */